Repository jeffreylaw/job-app-tracker: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build pipeline dependencies, build frontend, test, lint, package python files, deploy heroku

build pipeline dependencies:
  stage: dependencies
  script:
  - cd api/
  - pip install virtualenv
  - virtualenv venv/
  - source venv/bin/activate
  - pip install -r requirements.txt
  - python3 sql/create_tables.py
  artifacts:
    paths:
    - api/api.db
    expire_in: 10 mins

build frontend:
  stage: build
  image: node:14
  before_script:
  - cd frontend/
  script:
  - npm install
  - npm run build
  - mv build ../api
  artifacts:
    paths:
    - api/build
    expire_in: 10 mins
  variables:
    REACT_APP_VERSION: ${CI_COMMIT_SHORT_SHA}

test:
  stage: test
  before_script:
  - cd api/
  - pip install virtualenv
  - virtualenv venv/
  - source venv/bin/activate
  script:
  - pytest test*.py --junitxml=report.xml
  artifacts:
    when: always
    reports:
      junit: api/report.xml

lint:
  stage: lint
  before_script:
  - cd api/
  - pip install virtualenv
  - virtualenv venv/
  - source venv/bin/activate
  script:
  - pylint --fail-under 8.0 app.py

package python files:
  stage: package
  image: alpine
  cache: []
  before_script:
  - cd api/
  script:
  - apk --no-cache add zip
  - zip artifacts.zip *.py -x test*.py
  artifacts:
    paths:
    - api/artifacts.zip

deploy heroku:
  stage: deploy
  image: ubuntu
  before_script:
  - cd api/
  - ls build/
  - test -d build/
  - apt-get update -qy
  - apt-get install -y git curl
  - apt-get install -y ruby-dev
  - gem install dpl
  script:
  - dpl --provider=heroku --app=$HEROKU_APP_PRODUCTION --api-key=$HEROKU_API_KEY --skip_cleanup
  ...

Ignore React builds
  .gitignore
Due: none

Remove accidently built files
  frontend/build/asset-manifest.json
  frontend/build/favicon.ico
  frontend/build/index.html
  frontend/build/logo192.png
  frontend/build/logo512.png
  frontend/build/manifest.json
  frontend/build/robots.txt
  frontend/build/static/css/main.bf73a14a.css
  frontend/build/static/css/main.bf73a14a.css.map
  frontend/build/static/js/787.d8c6ec95.chunk.js
  frontend/build/static/js/787.d8c6ec95.chunk.js.map
  frontend/build/static/js/main.263748a4.js
  frontend/build/static/js/main.263748a4.js.LICENSE.txt
  frontend/build/static/js/main.263748a4.js.map
  frontend/build/static/media/bg.c3bc6356ca1c77fd332c.jpg
Due: build frontend, deploy heroku

Change watchtower pull interval to get around pull limits on Docker
  docker-compose.yml
Due: none

Testing for DO
  api/Dockerfile
  api/app.py
  etc/docker-compose.yml
  frontend/Dockerfile
  frontend/alt/Dockerfile
  frontend/package.json
  frontend/src/App.js
  frontend/src/components/AddJob.js
  frontend/src/components/EditJob.js
  frontend/src/components/Login.js
  nginx-setup/default.conf
  nginx-setup/docker-compose.yml
Due: build pipeline dependencies, build frontend, test, lint, package python files, deploy heroku

Remove nginx-setup
  nginx-setup/default.conf
  nginx-setup/docker-compose.yml
Due: none

Test git commit hash on login page
  frontend/src/App.js
Due: build frontend, deploy heroku

Remove nginx config file
  frontend/nginx/default.conf
Due: build frontend, deploy heroku

Rename result to status for filter
  frontend/src/components/Filter.js
  frontend/src/components/JobsTable.js
Due: build frontend, deploy heroku

Hide salary by default
  frontend/src/App.js
Due: build frontend, deploy heroku

Change demo values, simplify text in filter
  frontend/src/components/AddJob.js
  frontend/src/components/Filter.js
Due: build frontend, deploy heroku

Rename login heading and main page heading to Job Application Tracker
  frontend/src/App.js
  frontend/src/components/Login.js
Due: build frontend, deploy heroku

Change Add Job to Add Application
  frontend/src/App.js
  frontend/src/components/AddJob.js
Due: build frontend, deploy heroku

Change other references from Job to Application
  frontend/src/App.js
  frontend/src/components/EditJob.js
Due: build frontend, deploy heroku

Update version in package.json
  frontend/package.json
Due: build frontend, deploy heroku

Fixed issue with demo date
  frontend/src/components/AddJob.js
Due: build frontend, deploy heroku

Add delete modal
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.js
  frontend/src/components/JobsTable.js
Due: build frontend, deploy heroku

Dedent demo values
  frontend/src/components/AddJob.js
Due: build frontend, deploy heroku

Update option for showing all applications in filter
  frontend/src/components/Filter.js
Due: build frontend, deploy heroku

Test pipeline variable
  .gitlab-ci.yml
Due: build pipeline dependencies, build frontend, test, lint, package python files, deploy heroku

Test displaying git commit on front page via dynamic environment variable
  .gitlab-ci.yml
  frontend/Dockerfile
Due: build pipeline dependencies, build frontend, test, lint, package python files, deploy heroku

Moved build-arg to correct stage, add missing ARG in frontend Dockerfile
  .gitlab-ci.yml
  frontend/Dockerfile
Due: build pipeline dependencies, build frontend, test, lint, package python files, deploy heroku

Add sanity prod test
  .gitlab-ci.yml
Due: build pipeline dependencies, build frontend, test, lint, package python files, deploy heroku

Update favicon
  frontend/public/favicon.ico
  frontend/public/favicon.png
  frontend/public/index.html
Due: build frontend, deploy heroku

Clean up repo
  api/Procfile
  docker-compose.yml
  documentation/architecture.png
  etc/docker-compose.yml
  frontend/alt/Dockerfile
  pipelines/.gitlab-ci.yml
  pipelines/.gitlab-ci_v1.yml
Due: build pipeline dependencies, build frontend, test, package python files, deploy heroku

Update readme with env file info
  README.md
Due: none

Remove test print
  api/app.py
Due: build pipeline dependencies, test, lint, package python files, deploy heroku

Force passwords to be 8-16 characters with at least one number
  api/app.py
  api/helper.py
  frontend/src/components/Login.js
Due: build pipeline dependencies, build frontend, test, lint, package python files, deploy heroku

remove watchtower, fixed inserting demo values
  docker-compose.yml
  frontend/src/App.js
  frontend/src/components/AddJob.js
Due: build frontend, deploy heroku

Change job desc to 300 chars, add ...'s when expandable
  frontend/src/components/ReadMore.js
Due: build frontend, deploy heroku

Removed option to toggle filter section for simplicity
  frontend/src/App.css
  frontend/src/App.js
  frontend/src/components/Filter.js
  frontend/src/components/JobsTable.js
Due: build frontend, deploy heroku

Remove unneeded margin and padding in jobs table
  frontend/src/App.css
Due: build frontend, deploy heroku

Update delete application modal text
  frontend/src/components/JobsTable.js
Due: build frontend, deploy heroku

Update
  README.md
  api/app.py
  api/runtime.txt
  frontend/src/App.js
  frontend/src/components/AddJob.js
Due: build pipeline dependencies, build frontend, test, lint, package python files, deploy heroku

Trying older version of Python
  pipelines/.gitlab-ci_v1.yml
Due: none

Fixing PyYAML version 5.3.1
  api/requirements.txt
Due: build pipeline dependencies, test, package python files, deploy heroku

Clean up design, removing lesser used components, show how many days ago was the applied date
  frontend/src/App.css
  frontend/src/App.js
  frontend/src/components/AddJob.js
  frontend/src/components/EditJob.js
  frontend/src/components/Filter.js
  frontend/src/components/JobsTable.js
Due: build frontend, deploy heroku

Path conditions:
  build pipeline dependencies: any of: api/**/*, .gitlab-ci.yml
  build frontend: any of: frontend/**/*, .gitlab-ci.yml
  test: any of: api/**/*, .gitlab-ci.yml
  lint: any of: api/app.py, .gitlab-ci.yml
  package python files: any of: api/**/*, .gitlab-ci.yml
  deploy heroku: any of: api/**/*, frontend/**/*, .gitlab-ci.yml
