Repository jeffreylaw/job-app-tracker: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build pipeline dependencies, build frontend, test, lint, package python files, deploy heroku

.gitlab-ci.yml:

image: python:3.10

# Using workflow to specify which types of pipelines can run
# Run branch pipelines when a merge request is not open for the branch
# Run merge request pipelines when a merge request is open for the branch
workflow:
  rules:
    # If it is a merge request, run a merge request pipeline
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
    # If there's a change to a branch, but a merge request is open for that branch, don't run a branch pipeline
    - if: '$CI_COMMIT_BRANCH && $CI_OPEN_MERGE_REQUESTS'
      when: never
    # If there's a change to a branch, but without any open merge requests, run a branch pipeline
    - if: '$CI_COMMIT_BRANCH'

variables:
  PRODUCTION_DOMAIN: http://job-hunting-tracker.herokuapp.com/

cache:
  key: ${CI_COMMIT_REF_SLUG}
  paths:
    - api/venv/
    - frontend/node_modules

stages:
  - dependencies
  - build
  - test
  - lint
  - package
  - dockerize
  - deploy
  - production tests

build pipeline dependencies:
  stage: dependencies
  script:
    - cd api/
    - pip install virtualenv
    - virtualenv venv/
    - source venv/bin/activate
    - pip install -r requirements.txt
    - python3 sql/create_tables.py
  rules:
    - changes:
      - api/**/*
      - .gitlab-ci.yml
  artifacts:
    paths:
      - api/api.db
    expire_in: 10 mins

build frontend:
  stage: build
  image: node:14
  before_script:
    - cd frontend/
  script:
    - npm install
    - npm run build
    - mv build ../api
  rules:
    - changes:
      - frontend/**/*
      - .gitlab-ci.yml
  artifacts:
    paths:
      - api/build
    expire_in: 10 mins
  variables:
    REACT_APP_VERSION: ${CI_COMMIT_SHORT_SHA}

test:
  stage: test
  before_script:
    - cd api/
    - pip install virtualenv
    - virtualenv venv/
    - source venv/bin/activate
  script:
    - pytest test*.py --junitxml=report.xml
  artifacts:
    when: always
    reports:
      junit: api/report.xml
  rules:
    - changes:
      - api/**/*
      - .gitlab-ci.yml

lint:
  stage: lint
  before_script:
    - cd api/
    - pip install virtualenv
    - virtualenv venv/
    - source venv/bin/activate
  script:
    - pylint --fail-under 8.0 app.py
  rules:
    - changes:
      - api/app.py
      - .gitlab-ci.yml

package python files:
  stage: package
  image: alpine
  cache: []
  before_script:
    - cd api/
  script:
    - apk --no-cache add zip
    - zip artifacts.zip *.py -x test*.py
  artifacts:
    paths:
      - api/artifacts.zip
  rules:
    - changes:
      - api/**/*
      - .gitlab-ci.yml
    - if: '$CI_COMMIT_BRANCH == "main"'

dockerize api:
  stage: dockerize
  image: docker:latest
  script:
    - docker login -u=${DOCKERHUB_USERNAME} -p=${DOCKERHUB_ACCESS_TOKEN}
    - docker build -t ${DOCKERHUB_USERNAME}/job-hunting-tracker-api:latest .
    - docker push ${DOCKERHUB_USERNAME}/job-hunting-tracker-api:latest
  services:
    - docker:dind
  when: manual

deploy heroku:
  stage: deploy
  image: ubuntu
  before_script:
    - cd api/
    - ls build/
    - test -d build/
    - apt-get update -qy
    - apt-get install -y git curl
    - apt-get install -y ruby-dev
    - gem install dpl
  script:
    - dpl --provider=heroku --app=$HEROKU_APP_PRODUCTION --api-key=$HEROKU_API_KEY --skip_cleanup
  allow_failure: true
  rules:
    - changes:
      - api/**/*
      - frontend/**/*
      - .gitlab-ci.yml
    - if: '$CI_COMMIT_BRANCH == "main"'

production tests:
  stage: production tests
  image: alpine
  cache: []
  script:
    - apk add curl
    - curl $PRODUCTION DOMAIN | grep -q "Job Tracker"
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'

Reduce margin on Search Filter in Filter
  frontend/src/components/Filter.js
Due: build frontend, deploy heroku

Fixed bug where link to job posting was being appended with //
  frontend/src/components/JobsTable.js
Due: build frontend, deploy heroku

Fixed issue where links to job postings without http would try to render without http: or https:
  frontend/src/components/JobsTable.js
Due: build frontend, deploy heroku

Improve styling of login div, fixed issue where register had extra padding at the bottom
  frontend/src/App.css
  frontend/src/App.js
  frontend/src/components/Login.js
Due: build frontend, deploy heroku

Add bg img, changed heading page font and text, and centered the text
  frontend/public/index.html
  frontend/src/App.css
  frontend/src/bg.jpg
  frontend/src/components/Login.js
Due: build frontend, deploy heroku

Remove striped styling on job tables
  frontend/src/components/JobsTable.js
Due: build frontend, deploy heroku

Add error messages if backend is down
  frontend/src/App.js
  frontend/src/components/Login.js
Due: build frontend, deploy heroku

Refactor AddJob to use a single function for toggling show/hide, add starting Notes modal
  frontend/src/App.js
  frontend/src/components/AddJob.js
  frontend/src/components/JobsTable.js
  frontend/src/components/Notes.js
Due: build frontend, deploy heroku

Improve styling of edit and delete buttons, change bg picture, add tooltip onto edit and delete buttons, made notes show up in full screen modal
  frontend/src/App.css
  frontend/src/bg.jpg
  frontend/src/components/JobsTable.js
  frontend/src/components/Notes.js
Due: build frontend, deploy heroku

Fixed bug where opening notes modal failed to set job state
  frontend/src/components/JobsTable.js
Due: build frontend, deploy heroku

Fixed bug where whitespace text node was appearing as a child of <tr> in the Notes column cell
  frontend/src/components/JobsTable.js
Due: build frontend, deploy heroku

Changing hover-btn svg to fixed width and height to look better when rows are expanded
  frontend/src/App.css
  frontend/src/components/JobsTable.js
Due: build frontend, deploy heroku

Fixed a bug where hiding Notes section wouldn't hide Jobs that did not have notes
  frontend/src/components/JobsTable.js
Due: build frontend, deploy heroku

Update api/requirements.txt
  api/requirements.txt
Due: build pipeline dependencies, test, package python files, deploy heroku

Test using /api endpoints
  api/app.py
  api/openapi.yaml
  frontend/src/App.js
  frontend/src/components/AddJob.js
  frontend/src/components/EditJob.js
  frontend/src/components/Login.js
Due: build pipeline dependencies, build frontend, test, lint, package python files, deploy heroku

Add base url to tests
  api/test_api.py
Due: build pipeline dependencies, test, package python files, deploy heroku

Add /api base url for openapi.yml, /job endpoint
  api/openapi.yaml
Due: build pipeline dependencies, test, package python files, deploy heroku

Update .gitignore file
  .gitignore
Due: none

Update requirements.txt to lock in jinja2 version
  api/requirements.txt
Due: build pipeline dependencies, test, package python files, deploy heroku

Dockerize backend and frontend, creating an application stack using docker-compose
  Dockerfile
  api/Dockerfile
  api/sql/db.sql
  docker-compose.yml
  frontend/Dockerfile
  frontend/nginx/default.conf
Due: build pipeline dependencies, build frontend, test, package python files, deploy heroku

Containerize api and frontend for k8s
  .gitlab-ci.yml
Due: build pipeline dependencies, build frontend, test, lint, package python files, deploy heroku

Fixed issue in pipeline where containerize api stage was cd'ing into api/ twice, fixed incorrect dockerhub repo
  .gitlab-ci.yml
Due: build pipeline dependencies, build frontend, test, lint, package python files, deploy heroku

Change default filter to show applications that are active (not rejected)
  frontend/src/App.js
  frontend/src/components/Filter.js
Due: build frontend, deploy heroku

Remove extra spaces for filteredJobs variable
  frontend/src/App.js
Due: build frontend, deploy heroku

Fixed an issue where filteredJobs variable would try to filter on a null value
  frontend/src/App.js
Due: build frontend, deploy heroku

Save initial filter state into a variable and reset initial filter upon logout
  frontend/src/App.js
Due: build frontend, deploy heroku

Ignore node modules when building Docker image
  .gitignore
  frontend/.dockerignore
Due: build frontend, deploy heroku

Removing Heroku references
  api/app.py
Due: build pipeline dependencies, test, lint, package python files, deploy heroku

Update psycopg2 libraries
  api/requirements.txt
Due: build pipeline dependencies, test, package python files, deploy heroku

Update node module versions
  frontend/package-lock.json
  frontend/package.json
Due: build frontend, deploy heroku

Fix for PEP517
  api/pyproject.toml
Due: build pipeline dependencies, test, package python files, deploy heroku

Testing docker-compose
  docker-composev1.yml
  docker-composev2.yml
  frontend/Dockerfile
Due: build frontend, deploy heroku

Update docker-compose for VPS
  docker-compose_v1.yml
Due: none

Remove redundant compose files, update Dockerfile for api image to use gunicorn
  api/Dockerfile
  docker-composev1.yml
  docker-composev2.yml
Due: build pipeline dependencies, test, package python files, deploy heroku

Remove old docker-compose file
  docker-compose_v1.yml
Due: none

Add watchtower to docker-compose
  docker-compose.yml
Due: none

Update pipeline with new node version, removed deploying to Heroku, and always pushing Docker images
  .gitlab-ci.yml
Due: build pipeline dependencies, build frontend, test, lint, package python files, deploy heroku

Remove version on login page
  frontend/src/App.js
Due: build frontend, deploy heroku

Fixed an error where changes to api triggered containerizing frontend and vice versa
  .gitlab-ci.yml
Due: build pipeline dependencies, build frontend, test, lint, package python files, deploy heroku

Testing changes for new deployment
  frontend/build/asset-manifest.json
  frontend/build/favicon.ico
  frontend/build/index.html
  frontend/build/logo192.png
  frontend/build/logo512.png
  frontend/build/manifest.json
  frontend/build/robots.txt
  frontend/build/static/css/main.bf73a14a.css
  frontend/build/static/css/main.bf73a14a.css.map
  frontend/build/static/js/787.d8c6ec95.chunk.js
  frontend/build/static/js/787.d8c6ec95.chunk.js.map
  frontend/build/static/js/main.263748a4.js
  frontend/build/static/js/main.263748a4.js.LICENSE.txt
  frontend/build/static/js/main.263748a4.js.map
  frontend/build/static/media/bg.c3bc6356ca1c77fd332c.jpg
  frontend/package-lock.json
  frontend/package.json
Due: build frontend, deploy heroku
