Repository jeffreylaw/job-app-tracker: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install python dependencies and test database, build frontend, test, lint, package python files, deploy heroku

.gitlab-ci.yml:

image: python:3.10

cache:
  key: ${CI_COMMIT_REF_SLUG}
  paths:
    - api/venv/
    - frontend/node_modules

stages:
  - dependencies
  - build
  - test
  - lint
  - package
  - dockerize
  - deploy

install python dependencies and test database:
  stage: dependencies
  script:
    - cd api/
    - pip install virtualenv
    - virtualenv venv/
    - source venv/bin/activate
    - pip install -r requirements.txt
    - python3 sql/create_tables.py
  rules:
    - changes:
      - api/*
      - .gitlab-ci.yml
  artifacts:
    paths:
      - api/api.db
    expire_in: 10 mins

build frontend:
  stage: build
  image: node:14
  before_script:
    - ls
    - cd frontend/
    - ls
  script:
    - npm install
    - npm run build
    - mv build ../api
  rules:
    - changes:
      - frontend/*
      - .gitlab-ci.yml

test:
  stage: test
  before_script:
    - ls frontend/
    - cd api/
    - ls
    - pip install virtualenv
    - virtualenv venv/
    - source venv/bin/activate
  script:
    - pytest test*.py --junitxml=report.xml
  artifacts:
    when: always
    reports:
      junit: api/report.xml
  rules:
    - changes:
      - api/*
      - .gitlab-ci.yml

lint:
  stage: lint
  before_script:
    - cd api/
    - pip install virtualenv
    - virtualenv venv/
    - source venv/bin/activate
  script:
    - pylint --fail-under 8.0 app.py
  rules:
    - changes:
      - api/*
      - .gitlab-ci.yml

package python files:
  stage: package
  image: alpine
  cache: []
  before_script:
    - cd api/
  script:
    - apk --no-cache add zip
    - zip artifacts.zip *.py -x test*.py
  artifacts:
    paths:
      - api/artifacts.zip
  rules:
    - changes:
      - api/*
      - .gitlab-ci.yml

dockerize api:
  stage: dockerize
  image: docker:latest
  script:
    - docker login -u=${DOCKERHUB_USERNAME} -p=${DOCKERHUB_ACCESS_TOKEN}
    - docker build -t ${DOCKERHUB_USERNAME}/job-hunting-tracker-api:latest .
    - docker push ${DOCKERHUB_USERNAME}/job-hunting-tracker-api:latest
  services:
    - docker:dind
  when: manual

deploy heroku:
  stage: deploy
  image: ubuntu
  before_script:
    - cd api/
    - ls
    - apt-get update -qy
    - apt-get install -y git curl
    - apt-get install -y ruby-dev
    - gem install dpl
  script:
    - dpl --provider=heroku --app=$HEROKU_APP_PRODUCTION --api-key=$HEROKU_API_KEY
  allow_failure: true
  rules:
    - changes:
      - api/*
      - frontend/*
      - .gitlab-ci.yml

Clean up pipeline, try to show commit version on home page, save build/ folder as artifact to pass onto deploy stage
  .gitlab-ci.yml
  frontend/public/index.html
  frontend/src/App.css
  frontend/src/App.js
Due: install python dependencies and test database, build frontend, test, lint, package python files, deploy heroku

Move version variaable to build stage
  .gitlab-ci.yml
Due: install python dependencies and test database, build frontend, test, lint, package python files, deploy heroku

Fixed issue where debug stage attempted to ls folders in root dir
  .gitlab-ci.yml
Due: install python dependencies and test database, build frontend, test, lint, package python files, deploy heroku

Test pipeline
  .gitlab-ci.yml
Due: install python dependencies and test database, build frontend, test, lint, package python files, deploy heroku

Test pipeline
  .gitlab-ci.yml
  api/app.py
Due: install python dependencies and test database, build frontend, test, lint, package python files, deploy heroku

Prevent dpl from deleting build/ folder from deploy stage
  .gitlab-ci.yml
Due: install python dependencies and test database, build frontend, test, lint, package python files, deploy heroku

Try to fix displaying app version display on index.html by using process.env in app.js
  frontend/src/App.js
Due: none

Change displayed variable on home page to use CI_COMMIT_SHORT_SHA instead of branch name (CI_COMMIT_REF_SLUG)
  .gitlab-ci.yml
Due: install python dependencies and test database, build frontend, test, lint, package python files, deploy heroku

Make pipeline look for changes in api/frontend directory and its subdirectories
  .gitlab-ci.yml
Due: install python dependencies and test database, build frontend, test, lint, package python files, deploy heroku

Only run lint stage if app.py was changed
  .gitlab-ci.yml
Due: install python dependencies and test database, build frontend, test, lint, package python files, deploy heroku

Improve pipeline, add production tests
  .gitlab-ci.yml
Due: install python dependencies and test database, build frontend, test, lint, package python files, deploy heroku

Reorganize changes to be under if block in pipeline
  .gitlab-ci.yml
Due: install python dependencies and test database, build frontend, test, lint, package python files, deploy heroku

Change pipeline to redeploy if merging to main branch
  .gitlab-ci.yml
Due: install python dependencies and test database, build frontend, test, lint, package python files, deploy heroku

Fixed issue in pipeline production tests where variable was missing underscore
  .gitlab-ci.yml
Due: install python dependencies and test database, build frontend, test, lint, package python files, deploy heroku

Modify Pipeline to new Heroku git URL
  .gitlab-ci.yml
Due: install python dependencies and test database, build frontend, test, lint, package python files, deploy heroku

Update app name
  frontend/public/index.html
  frontend/src/App.js
Due: none

Fix app names
  frontend/src/App.js
  frontend/src/components/Login.js
Due: none

Fix pipeline production test
  .gitlab-ci.yml
Due: install python dependencies and test database, build frontend, test, lint, package python files, deploy heroku

Fix app name in navbar and fixed production test to test for title
  .gitlab-ci.yml
  frontend/src/App.js
Due: install python dependencies and test database, build frontend, test, lint, package python files, deploy heroku

Fix production domain url in pipeline
  .gitlab-ci.yml
Due: install python dependencies and test database, build frontend, test, lint, package python files, deploy heroku

Fixed bug where salary was being set as a string on the frontend state
  frontend/src/components/AddJob.js
Due: none

Clean up centering of login and registration form, particularly for mobile or smaller width screens
  frontend/src/App.css
Due: none

Fix typo in add job form
  frontend/src/components/AddJob.js
Due: none

Improving mobile responsiveness
  frontend/src/App.css
  frontend/src/components/JobsTable.js
Due: none

Add validation response to add job form
  frontend/src/components/AddJob.js
Due: none

Cleaning up form validation
  frontend/src/components/AddJob.js
Due: none

Merge link into job title column
  frontend/src/App.js
  frontend/src/components/JobsTable.js
Due: none

Preserve white space for job-description
  frontend/src/App.css
  frontend/src/components/JobsTable.js
Due: none

Add read me expansion for job description
  frontend/src/App.css
  frontend/src/components/JobDescription.js
  frontend/src/components/JobsTable.js
Due: none

Fixed issue where job title was rendered as URL even though url was never provided, fixed issue where '...' was rendered even if no job description existed
  frontend/src/components/JobDescription.js
  frontend/src/components/JobsTable.js
Due: none

Rename JobDescription component to ReadMore for reuse with notes
  frontend/src/components/JobsTable.js
  frontend/src/components/ReadMore.js
Due: none

Simplify column names
  frontend/src/components/JobsTable.js
Due: none

Add back description to search, improved filter instructions
  frontend/src/App.js
  frontend/src/components/Filter.js
Due: none

Remove searching applied and post dates from search query, added highlighting of text when using search and filter
  frontend/src/App.js
  frontend/src/components/Filter.js
  frontend/src/components/JobsTable.js
  frontend/src/components/ReadMore.js
Due: none

Change job title to just title in the search filter tip
  frontend/src/components/Filter.js
Due: none

Rename heading for result filter to be more clear
  frontend/src/components/Filter.js
Due: none

Handling cases where no date is given when adding or editting jobs, adding form validation to edit job form, reordering posted and applied dates to match add/edit forms
  api/app.py
  frontend/src/components/AddJob.js
  frontend/src/components/EditJob.js
  frontend/src/components/JobsTable.js
Due: install python dependencies and test database, test, lint, package python files, deploy heroku

Add markupsafe 2.0.1 to requirements as newer MarkupSafe version removes sof_unicode
  api/requirements.txt
Due: install python dependencies and test database, test, lint, package python files, deploy heroku

Reorder categories in filter to match table column order
  frontend/src/App.js
Due: none
